.createRoleFormOuter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.createRoleFormInner {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

@media (max-width: 700px) {
  .createRoleFormInner {
    width: 90vw;
  }
}
